# deps
node_modules/

# Prisma generated client
/src/generated/prisma

# Environment
.env

/storage

# Database
*.db
*.db-journal

# Build output
dist/

# Docs (keep these in git)
/CLAUDE.md
/SPECS.md
